<div class="container__big-card">
  <div class="photo__big-card">
    <img src="https://static-assets.bamgrid.com/product/starplus/images/share-default.d72cf588f6d06cba22171f5ae44289d3.png"
    alt="">
  </div>

  <div class="title__big-card">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="description__big-card">
    <p> <a href=""> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quasi aspernatur nostrum! Vel a quasi ut incidunt architecto odio ducimus, labore deserunt, modi tempora, quia sit magnam repudiandae maiores eum!</a></p>
  </div>
</div>
