.container__small-card{
  /* border:1px solid white; */
  width:100%;
  display:flex;
  flex-direction: column;
  margin: 1rem 2rem;
}
.container__small-card-content{
  display:flex;
  flex-direction: row;
}
.photo__small-card{
  width:30%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.photo__small-card > img{
  width:100%;
  display:flex;
}
.title__small-card{
  display: flex;
  justify-content: center;
}
.container__small-card-separator{
  margin:1rem 0;
}
